h1 {
  @include roboto-slab-bold;
  font-size: 5rem;
  line-height: 5.5rem;
  margin-top: 0px;
  margin-bottom: 1.5rem;
}

h2 {
  @include roboto-slab-medium;
  font-size: 2.5rem;
  margin-top: 0px;
  margin-bottom: 1.5rem;
}

h3 {
  @include roboto-black;
  font-size: 2.56rem;
  margin-top: 0px;
  margin-bottom: 1.5rem;
}

h4 {
  @include roboto-slab-medium;
  font-size: 1.875rem;
  margin-top: 0px;
  margin-bottom: 1.5rem;
}

h5 {
  @include roboto-slab-medium;
  font-size: 1.5625rem;
  line-height: 2.0625;
  margin-top: 0px;
  margin-bottom: 1.5rem;
}

h6 {
  @include roboto-light;
  font-size: 1.5625rem;
  line-height: 2.5rem;
  margin-top: 0px;
  margin-bottom: 1.5rem;
}

p {
  @include roboto-regular;
  font-size: 1.125rem;
  line-height: 1.375rem;
  margin-top: 0px;
  margin-bottom: 1.5rem;
}

.small-p {
  @include roboto-regular;
  font-size: 0.875rem;
  line-height: 1.3;
  color: $textblue;
}

.txt-blue {
  color: $textblue;
}

.page-subhead {
  @include roboto-slab-medium;
  font-size: 1.25rem;
  line-height: 1.3;
  margin-top: 0px;
  margin-bottom: 0.5rem;
  color: $textblue;
}

// @include rminmax(768px, 992px) {
//   h1,
//   h2,
//   h3,
//   h4,
//   h5,
//   h6 {
//     line-height: 1;
//   }
// }
@include rmax(767px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.3;
  }
}
@include rmax(767px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 2rem;
  }
  h5 {
    font-size: 1.4rem;
  }
  h6 {
    font-size: 1.3rem;
  }
}

.heading-spl-a {
  @include roboto-slab-bold;
  font-size: 2.5rem;
  margin-top: 0px;
  margin-bottom: 1.5rem;
}
.font-spl {
  font-size: 1.25rem;

  @media #{$mq-1000-up} {
    font-size: 2rem;
  }
}
